<p>
    <mat-toolbar>
        <span>Tonic Teaching</span>
    </mat-toolbar>
</p>

<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image-design-thinking-small"></div>
      <mat-card-title>Design thinking</mat-card-title>
      <mat-card-subtitle>Self paced course</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/images/design-thinking-main.jpg" alt="design thinking">
    <mat-card-content>
      <p>
        Improve your creativity and innovation leadership by following a Design Thinking course.
      </p>
    </mat-card-content>
    <mat-card-actions>
        Comming soon
      <button mat-raised-button disabled class="card-action-button">Subscribe</button>
    </mat-card-actions>
</mat-card>
  