<p>
    <mat-toolbar>
        <img src="../assets/images/tonic-teaching-logo.png" style="height: 50px;">
        <span>Tonic Teaching</span>
    </mat-toolbar>
</p>
<div class="card-as-smartphone">
  <mat-card class="card" >
      <mat-card-header>
        <div mat-card-avatar class="header-image-design-thinking-small"></div>
        <mat-card-title>Design thinking</mat-card-title>
        <mat-card-subtitle>Self paced course</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/images/design-thinking-main.jpg" alt="design thinking">
      <mat-card-content>
        <p>
          Improve your creativity and innovation leadership by following a Design Thinking course.
        </p>
      </mat-card-content>
      <mat-card-actions>
          Comming soon
        <button mat-raised-button disabled class="card-action-button">Subscribe</button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="card" >
    <mat-card-header>
      <div mat-card-avatar class="header-image-business-small"></div>
      <mat-card-title>Social venture activity</mat-card-title>
      <mat-card-subtitle>activity</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/images/business.png" alt="design thinking">
    <mat-card-content>
      <p>
        Continue your Tonic Teaching experience arround the world by visiting social businesses
      </p>
    </mat-card-content>
    <mat-card-actions>
        Comming soon
      <button mat-raised-button disabled class="card-action-button">Participate</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card" >
    <mat-card-header>
      <div mat-card-avatar class="header-image-book-activity-small"></div>
      <mat-card-title>Transmit what you learned activity</mat-card-title>
      <mat-card-subtitle>activity</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/images/book-activity.jpg" alt="design thinking">
    <mat-card-content>
      <p>
        Continue your Tonic Teaching experience arround the world by transmiting what you have learned and learn from others.
      </p>
    </mat-card-content>
    <mat-card-actions>
        Comming soon
      <button mat-raised-button disabled class="card-action-button">Participate</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="card-as-desktop" >
  <mat-card class="card" style="flex: 1 1 auto;">
      <mat-card-header>
        <div mat-card-avatar class="header-image-design-thinking-small"></div>
        <mat-card-title>Design thinking</mat-card-title>
        <mat-card-subtitle>Self paced course</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/images/design-thinking-main.jpg" alt="design thinking">
      <mat-card-content>
        <p>
          Improve your creativity and innovation leadership by following a Design Thinking course.
        </p>
      </mat-card-content>
      <mat-card-actions>
          Comming soon
        <button mat-raised-button disabled class="card-action-button">Subscribe</button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="card" style="flex: 1 1 auto;">
    <mat-card-header>
      <div mat-card-avatar class="header-image-business-small"></div>
      <mat-card-title>Social venture activity</mat-card-title>
      <mat-card-subtitle>activity</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/images/business.png" alt="design thinking">
    <mat-card-content>
      <p>
        Continue your Tonic Teaching experience arround the world by visiting social businesses
      </p>
    </mat-card-content>
    <mat-card-actions>
        Comming soon
      <button mat-raised-button disabled class="card-action-button">Participate</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card" style="flex: 1 1 auto;">
    <mat-card-header>
      <div mat-card-avatar class="header-image-book-activity-small"></div>
      <mat-card-title>Transmit what you learned</mat-card-title>
      <mat-card-subtitle>activity</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/images/book-activity.jpg" alt="design thinking">
    <mat-card-content>
      <p>
        Continue your Tonic Teaching experience arround the world by transmiting what you have learned and learn from others.
      </p>
    </mat-card-content>
    <mat-card-actions>
        Comming soon
      <button mat-raised-button disabled class="card-action-button">Participate</button>
    </mat-card-actions>
  </mat-card>
</div>

  