.card{
    max-width: 400px;
    margin: 20px;
}

.card-action-button {
    margin: 5px;
    // display: block;
    float: right;
}

.header-image-design-thinking-small {
    background-image: url('/assets/images/design-thinking-main.jpg');
    background-size: cover;
}