<p>
    <mat-toolbar>
        <img src="../assets/images/tonic-teaching-logo.png" style="height: 50px;">
        <span>Tonic Teaching</span>
    </mat-toolbar>
</p>
<mat-card class="register-card">
    <div class="">
        <H2>Welcome</H2>
        <mat-form-field class="form-field">
            <mat-label>Who was your Tonic teacher?</mat-label>
            <input matInput placeholder="who was your teacher?" value="" [(ngModel)]="firstConfiguration.teacher">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>What is your school?</mat-label>
            <input matInput placeholder="What is your school?" value="" [(ngModel)]="firstConfiguration.school">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>What was the subject of the course?</mat-label>
            <input matInput placeholder="What was the subject of the course?" value="" [(ngModel)]="firstConfiguration.courseSubject">
        </mat-form-field>
        <br>

        <mat-label>Do you want to get informed by email of new courses that will be availlable?</mat-label>
        <br/>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="firstConfiguration.isRecievingCommercialEmails">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>

        <br>
        <mat-checkbox class="" [(ngModel)]="legalCheck">
            I agree to share those information with Tonic Teaching ltd and allow them to exploit them to send me their offres.
        </mat-checkbox>
        <button mat-raised-button color="primary" class="register-button" (click)="save()">
            Save
        </button>
    </div>
</mat-card>