
<p>
    <mat-toolbar>
        <img src="../assets/images/tonic-teaching-logo.png" style="height: 50px;">
        <span>Tonic Teaching</span>
    </mat-toolbar>
</p>
<mat-card class="register-card">
    <div class="">
        <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" value="" [(ngModel)]="email">
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" value="" type="password" [(ngModel)]="password">
        </mat-form-field>
        <mat-checkbox class="" [(ngModel)]="legalCheck">
            I agree to share those information with Tonic Teaching ltd and allow them to exploit them to send me their offers.
        </mat-checkbox>
        <button mat-raised-button (click)="navigate('login')">
            Login
        </button>
        <button mat-raised-button color="primary" class="register-button" (click)="createUser()">
            Register
        </button>
    </div>
</mat-card>